{% macro get_group(value) %}
 bc_members_group
 {% if "-" is same as(value) %} bc_select_group_voided
 {% elseif "1" is same as(value) %} bc_select_group_selected
 {% endif %}
{% endmacro %}

<div class='bc_help'>
 <div id='htmlhelp'></div>
 <button id="close_help">X</button>
</div>
<div class="bc_emails bc_{{ mode }}">
 <div class="bc_main">
  <h1>{{ title }}</h1>
  <input type="hidden" id="mode" name="mode" value="{{ mode }}" />
  <input type="hidden" id="delete_text" name="delete_text" value="Do you really want to delete?" />
  <input type="hidden" id="clear_text" name="clear_text" value="Are you sure you want to clear all send flags?" />
  <input type="hidden" id="no_data" value="{{ no|join(',') }}" />
  <input type="hidden" id="yes_data" value="{{ yes|join(',') }}" />
  <input type="hidden" id="jobid" value="" />
  <section class='bc_toolbar'>
   <section class='bc_form_lines'>
    <div class='bc_form_label'>Tools:</div>
    <div class='bc_form_data'>
     <button id='button_help'>
      <img src='{{ images }}help.png'/> Help
     </button>
     {% if "edit" == mode %}
      <button id='button_add' disabled>
       <img src='{{ images }}plus.png'/> Add
      </button>
      <button id='button_reset'>
       <img src='{{ images }}reset.png'/> Restart
      </button>
      <button id='button_save' disabled>
       <img src='{{ images }}save.png'/> Save
      </button>
      <button id='button_delete'>
       <img src='{{ images }}drop.png'/> Delete
      </button>
      <button id='button_send' disabled>
       <img src='{{ images }}email.png'/> Send
      </button>
      <button id='button_clear'>
       <img src='{{ images }}noemail.png'/> Clear
      </button>
     {% else %}
      <button id='button_add'>
       <img src='{{ images }}plus.png'/> Add
      </button>
      <button id='button_search'>
       <img src='{{ images }}search.png'/> Search
      </button>
      <button id='button_save' disabled>
       <img src='{{ images }}save.png'/> Save
      </button>
      <button id='button_delete' disabled>
       <img src='{{ images }}drop.png'/> Delete
      </button>
     {% endif %}
    </div>
   </section>
  </section>
  <div class='bc_notice_area'>
   <div id='bc_notice' class='bc_notice'>
    <p id='bc_message' class='bc_message'>***</p>
   </div>
  </div>
  <section class='bc_emails_form'>
   <section class='bc_form_lines'>
    {% if "edit" != mode %}
     <div class='bc_form_label'>Maximum Age:</div>
     <div class='bc_form_data'>
      <input type='text' size='10' id='age' name='age' value='{{ age }}'/>
      Months
     </div>
    {% else %}
     <div class='bc_form_label'>Created:</div>
     <div class='bc_form_data'>
      <input type='text' size='15' id='created' name='created' value='{{ created|date('Y-m-d H:i:s') }}' readonly/>
      <span style='margin-left: 14.8em;'>View:</span>
      <button class='bc_emails_view bc_emails_view_selected' id='raw_view' type='button'>Raw</button>
      <button class='bc_emails_view' id='html_view'       type='button'>HTML</button>
      <button class='bc_emails_view' id='text_view'       type='button'>Text</button>
      <button class='bc_emails_view' id='recipients_view' type='button'>Recipients</button>
      <button class='bc_emails_view' id='log_view'        type='button'>Log</button>
     </div>
    {% endif %}
    <div class='bc_form_label'>Author:</div>
    <div class='bc_form_data'>
     <input type='text' size='{{ "edit" != mode ? '10' : '15' }}' id='author' name='author' list='author_list' value='{{ author }}'/>
     <datalist id='author_list'>
      {% for author in authors %}
       <option value='{{ author.name }}'/>
      {% endfor %}
     </datalist>
     {% if "edit" != mode %}
      <i>leave empty when adding</i>
     {% else %}
      <input type='text' size='3' id='authorid' name='authorid' value='{{ authorid }}' readonly/>
     {% endif %}
     <div id='emails_selection' class='hide'>
      <button class='bc_select_group'                          id='left'    type='button'>Left</button>
      <select name="group" id="group">
       <option value="0">All Groups</option>
       {% for item in groups %}
        <option value="{{ item.groupid }}">{{ item.tag }}</option>
       {% endfor %}
      </select>
      <button class='bc_select_group'                          id='exclude' type='button' disabled>Exclude</button>
      <button class='bc_select_group bc_select_group_selected' id='active'  type='button'>Active</button>
      <button class='bc_select_group'                          id='right'   type='button'>Right</button>
     </div>
    </div>
    <div class='bc_form_label'>Subject:</div>
    <div class='bc_form_data'>
     <input type='text' size='{{ "edit" != mode ? '50' : '75' }}' id='subject' name='subject' value='{{ subject }}'/>
    </div>
    <div class='bc_form_label'>Body:</div>
    <div class='bc_form_data'>
     <form id='get_iframe' method='post' target='body_iframe'  action='{{ admin_url }}'>
      <input type="hidden" name="action" value="bc_emails_body">
      <input type='hidden' id='nonce' name='nonce' value='{{ nonce }}'/>
      <input type="hidden" id='referer' name='referer' value="{{ referer }}" />
      {% if "edit" != mode %}
        <textarea rows='2' cols='49' id='body' name='body'>{{ body }}</textarea>
       {% else %}
        <textarea rows='20' cols='74' id='body' name='body'>{{ body }}</textarea>
       {% endif %}
     </form>
     {% if "edit" == mode %}
      <div class='hide' style='height:32em; width:51em;' id='showhtml'>
       <iframe name='body_iframe' style='width: 100%; height: 100%;  overflow: hidden;'>
       </iframe>
      </div>
      <div class='hide' style='height:32em; width:51em;' id='showtext'></div>
      <div class='hide' style='height:32em; width:51em;' id='showlog'></div>
      <div class='hide' style='height:32em; width:51em;' id='recipients'>
       <select style='width:22em;' id='non_recipients' multiple>
        <option>no</option>
       </select>
        <div style='width:6em;' id='recipient_divider'>
         <button id='add_recipient' type='button' disabled>&gt;&gt;</button>
         <button id='remove_recipient' type='button' disabled>&lt;&lt;</button>
         <button id='send_recipient' type='button' disabled>Send</button>
         <button id='clear_recipient' type='button' disabled>Clear</button>
        </div>
       <select style='width:22em;' id='oui_recipients' multiple>
        <option>yes</option>
       </select>
      </div>
     {% endif %}
    </div>
  </section>
  {% if "search" == mode %}<hr/>{% endif %}
 </div>
 {% if "search" == mode %}
  <div class='bc_extra'>
   {% if not found|length %}
    <div class='bc_noresults'>Nothing matches.</div>
   {% else %}
    <section class='bc_emails_results'>
     <div class='bc_head bc_emails_timestamp'>Created</div>
     <div class='bc_head bc_emails_author'>Author</div>
     <div class='bc_head bc_emails_subject'>Subject</div>
     {% for find in found %}
      <div class='bc_line bc_emails_timestamp' id='ts_{{ find.line }}'>{{ find.created|date('Y-m-d H:i:s') }}</div>
      <div class='bc_line bc_emails_author' id='author_{{ find.line }}'>{{ find.author }}</div>
      <div class='bc_line bc_emails_subject' id='subject_{{ find.line }}'>{{ find.subject }}</div>
     {% endfor %}
    </section>
   {% endif %}
  </div>
 {% endif %}
</div>
